.historic {
  width: 100%;
  height: 100%;
}

.sending {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.sending input {
  width: 89%;
  height: 30px
}

.sending button {
  width: 10%;
  height: 35px;
}
